In [7]:
import pyspark

In [6]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/10/19 11:38:47 WARN Utils: Your hostname, ante-ThinkPad-T15-Gen-2i resolves to a loopback address: 127.0.1.1; using 192.168.6.93 instead (on interface wlp0s20f3)
23/10/19 11:38:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/19 11:38:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/19 11:38:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [9]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-10-19 11:38:53--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.240.62, 52.217.132.96, 52.217.196.8, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.240.62|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2023-10-19 11:38:59 (14,3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [10]:
!head taxi+_zone_lookup.csv

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [12]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
df.write.parquet('zones')

In [14]:
!ls -lh

total 76K
drwxrwxr-x  4 ante ante 4,0K lis   9 07:40 data
drwxrwxr-x 12 ante ante 4,0K lip  17 15:04 data-engineering-zoomcamp-main
-rw-rw-r--  1 ante ante  210 ruj  22 12:44 Dockerfile
-rw-rw-r--  1 ante ante   82 ruj  22 12:56 docker-requirements.txt
drwx------ 19  999 root 4,0K ruj  14 10:54 ny_taxi_postgres_data
-rw-rw-r--  1 ante ante 1,1K ruj  21 13:48 prefect.yaml
-rw-rw-r--  1 ante ante  149 kol  17 09:18 README.md
-rw-rw-r--  1 ante ante  13K kol  17  2016 taxi+_zone_lookup.csv
-rw-rw-r--  1 ante ante 3,9K lis  19 11:39 Untitled.ipynb
drwxrwxr-x  4 ante ante 4,0K ruj  12 11:05 week1
drwxrwxr-x  4 ante ante 4,0K ruj  23 11:36 week2
drwxrwxr-x  2 ante ante 4,0K ruj  27 13:44 week3
drwxrwxr-x  2 ante ante 4,0K lis   5 14:22 week4
drwxrwxr-x  2 ante ante 4,0K lis  19 11:30 week5
drwxrwxr-x  2 ante ante 4,0K ruj  21 15:27 yellow
drwxr-xr-x  2 ante ante 4,0K lis  19 11:39 zones